# don't push any personal card images
decks/*
# placeholder to make git keep the directory
!decks/empty.txt
# These are public domain or otherwise free
!decks/Poker\ Cards
!decks/Tarot
# binaries
carddeck
carddeck-linux
carddeck.exe
